:root {
  --heading-font: "DM Serif Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --branding-color: #7d8aadf7;
  --secondary-color: #334369;
  --subtle-color: #f1f1f1;
}

/* HOMEPAGE */

/* Hero */

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 15% 18%;
  background-image: url(../images/background-image-1.jpg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(226, 226, 226, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text h1 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-size: 101px;
  letter-spacing: 10px;
  font-weight: bold;
}

.hero-text h2 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 26px;
  margin: 5px;
}

.hero-text p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
}

.hero-btn-branding {
  color: var(--branding-color);
  font-size: 30px;
  padding: 8px 26px;
  transition: all 100ms ease;
}

/* Homepage Photo Credit */

.current-icon {
  color: var(--secondary-color);
  font-size: 16px;
}

.photo-credit {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 15px;
}

.credit-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.credit-link:hover {
  color: var(--branding-color);
}

/* Homepage About Section */

.homepage-content-container {
  padding: 150px 90px 0;
}

.homepage-content {
  margin: 0 30px;
  margin-bottom: 60px;
  color: var(--branding-color);
}

.homepage-content .homepage-content-container {
  justify-content: center;
  margin-bottom: 200px;
  padding-top: 170px;
}

.introduction-header {
  font-family: var(--heading-font);
  font-size: 30px;
}

.introduction-subheader {
  font-family: var(--heading-font);
  font-size: 40px;
}

.homepage-paragraph {
  font-family: var(--secondary-font);
  font-size: 16px;
}

.homepage-content .homepage-paragraph {
  line-height: 25px;
}

.name-color {
  color: var(--secondary-color);
}

.homepage-about-me-button .btn-branding {
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-family: var(--secondary-font);
  color: white;
  border-radius: 5px;
  font-size: 15px;
  line-height: 30px;
  padding: 8px 20px;
  transition: all 200ms ease;
}

.btn-branding:hover {
  background-color: white;
  color: var(--branding-color);
}

/* Homepage Project Section */

.project-title {
  font-family: var(--heading-font);
  font-size: 40px;
  color: var(--secondary-color);
}

.card-text {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.side-arrow {
  color: var(--secondary-color);
}

.secondary-button {
  background-color: var(--branding-color);
  font-family: var(--secondary-font);
  border: 1px solid var(--branding-color);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  line-height: 30px;
  padding: 8px 20px;
  transition: all 200ms ease;
}

.secondary-button:hover {
  background-color: white;
  color: var(--branding-color);
}

/* About Me Section */

.about-section {
  padding: 120px 30px 50px;
}

.about-me-heading {
  font-family: var(--heading-font);
  font-size: 80px;
  color: var(--secondary-color);
}

.about-me-paragraph {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: var(--branding-color);
}

.headshot {
  margin: 0;
  width: 450px;
  border-radius: 10px;
}

.project-button {
  background-color: var(--branding-color);
  font-family: var(--secondary-font);
  border: 1px solid var(--branding-color);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  line-height: 30px;
  padding: 8px 20px;
  transition: all 200ms ease;
}

/* Skills Section */

.skills-education-section {
  text-align: center;
}

.skills-section {
  border: 5px solid var(--subtle-color);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
}

.skills-header {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-size: 32px;
}

.row-skills {
  font-family: var(--secondary-font);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 25px;
}

/* Responsiveness */

@media (max-width: 900px) {
  .hero {
    height: 290px;
    background-size: 100%;
    background-position: top;
  }
}
@media (max-width: 900px) {
  .hero-text h1 {
    font-size: 44px;
    padding-top: 60px;
  }

  .hero-text h2 {
    font-size: 16px;
  }

  .hero-text p {
    font-size: 13px;
  }

  .hero-btn-branding {
    font-size: 20px;
  }

  .photo-credit {
    font-size: 11px;
  }

  .homepage-content-container {
    padding: 90px 10px 20px 10px;
  }

  .introduction-header {
    font-size: 25px;
  }

  .introduction-subheader {
    font-size: 36px;
  }

  .homepage-paragraph {
    font-size: 13px;
  }
}
