:root {
  --heading-font: "DM Serif Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --branding-color: #7d8aadf7;
  --secondary-color: #334369;
  --subtle-color: #f1f1f1;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 15% 18%;
  background-image: url(../images/background-image-1.jpg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(226, 226, 226, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text h1 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-size: 101px;
  letter-spacing: 10px;
  font-weight: bold;
}

.hero-text h2 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 26px;
  margin: 5px;
}

.hero-text p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
}

.hero-btn-branding {
  color: var(--branding-color);
  font-size: 30px;
  padding: 8px 26px;
  transition: all 100ms ease;
}

.homepage-content-container {
  padding: 150px 90px 0;
}

.homepage-content {
  margin: 0 30px;
  margin-bottom: 50px;
  color: var(--branding-color);
}

.homepage-content .homepage-content-container {
  justify-content: center;
  margin-bottom: 200px;
  padding-top: 170px;
}

.homepage-content .homepage-paragraph {
  line-height: 25px;
  text-align: justify;
}

.name-color {
  color: var(--secondary-color);
}

.homepage-about-me-button .btn-branding {
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  color: white;
  border-radius: 5px;
  font-size: 17px;
  line-height: 30px;
  padding: 8px 20px;
  transition: all 200ms ease;
}

.btn-branding:hover {
  background-color: white;
  color: var(--branding-color);
}

.project-title {
  font-family: var(--heading-font);
  font-size: 40px;
  color: var(--secondary-color);
}

.card-text {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.secondary-button {
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  line-height: 30px;
  padding: 8px 20px;
  transition: all 200ms ease;
}

.secondary-button:hover {
  background-color: white;
  color: var(--branding-color);
}
