:root {
  --heading-font: "DM Serif Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --branding-color: #7d8aadf7;
  --secondary-color: #334369;
  --subtle-color: #f1f1f1;
}

div {
  display: block;
}
.hero {
  background-color: var(--subtle-color);
  padding: 100px 20px;
}

.hero-text h1 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-size: 101px;
  letter-spacing: 10px;
  font-weight: bold;
}

.hero-text h2 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 36px;
  margin: 20px;
}

.hero-text p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: bold;
}

.hero-btn-branding {
  color: var(--branding-color);
  font-size: 30px;
  padding: 8px 26px;
  transition: all 100ms ease;
}

.homepage-content-container {
  padding: 220px 50px 0;
}

.homepage-content {
  margin: 0 30px;
  margin-bottom: 50px;
}

.homepage-content .homepage-content-container {
  justify-content: center;
  margin-bottom: 200px;
  padding-top: 170px;
}

.homepage-content .homepage-paragraph {
  line-height: 25px;
  text-align: justify;
}

.homepage-content {
  color: var(--branding-color);
}

.name-color {
  color: var(--secondary-color);
}

.homepage-about-me-button .btn-branding {
  background-color: var(--branding-color);
  color: var(--subtle-color);
  border-radius: 5px;
  padding: 10px;
}
